// variable : screen


//screen
$screen: (
    //large screen / dekstop
    large: 1199.98px,
    //custom screen (container max-widht + padding side 32px)
    custom: 1074px,
    //medium screen / tablet
    medium: 991.98px,
    // small screen / phone
    small: 767.98px,
    // exstra small screen / phone
    exstra-small: 575.86px,
    //retina iPhone
    retina: 320.98px
);